In [2]:
import pandas as pd
import pymongo as pm
from sqlalchemy import create_engine

In [3]:
imdb_file = "IMDB-Movie-Data.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()
netflix_file = "netflix_titles.csv"
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [5]:
netflix_filtered = netflix_df[['title','release_year','rating','listed_in']]

In [7]:
netflix_filtered.head()
imdb_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [8]:
imdb_filtered = imdb_df[['Title','Genre','Rank','Year','Rating','Metascore']]

In [9]:
imdb_filtered.head()

,Title,Genre,Rank,Year,Rating,Metascore
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",1,2014,8.1,76.0
1,Prometheus,"Adventure,Mystery,Sci-Fi",2,2012,7.0,65.0
2,Split,"Horror,Thriller",3,2016,7.3,62.0
3,Sing,"Animation,Comedy,Family",4,2016,7.2,59.0
4,Suicide Squad,"Action,Adventure,Fantasy",5,2016,6.2,40.0

In [45]:
netflix_new = netflix_filtered.rename(columns={'title': 'Title', 'release_year':'Year', 'rating':'PG_Rating','listed_in':'Categories'})

In [46]:
netflix_new.head()

,Title,Year,PG_Rating,Categories
0,Norm of the North: King Sized Adventure,2019,TV-PG,"Children & Family Movies, Comedies"
1,Jandino: Whatever it Takes,2016,TV-MA,Stand-Up Comedy
2,Transformers Prime,2013,TV-Y7-FV,Kids' TV
3,Transformers: Robots in Disguise,2016,TV-Y7,Kids' TV
4,#realityhigh,2017,TV-14,Comedies

In [47]:
merge_table = pd.merge(imdb_filtered, netflix_new, on= ["Title","Year"])

In [48]:
merge_table.head()

,Title,Genre,Rank,Year,Rating,Metascore,PG_Rating,Categories
0,Moonlight,Drama,42,2016,7.5,99.0,R,"Dramas, Independent Movies, LGBTQ Movies"
1,The Last Face,Drama,50,2016,3.7,16.0,R,Dramas
2,The Autopsy of Jane Doe,"Horror,Mystery,Thriller",62,2016,6.8,65.0,R,"Horror Movies, Independent Movies, Thrillers"
3,Wakefield,Drama,69,2016,7.5,61.0,R,Dramas
4,Inglourious Basterds,"Adventure,Drama,War",78,2009,8.3,69.0,R,Action & Adventure

In [49]:
imdb_titles = imdb_filtered['Title'].unique()
len(imdb_titles)

999

In [50]:
merge_titles = merge_table['Title'].unique()
len(merge_titles)

157

In [51]:
netflix_titles = netflix_new['Title'].unique()
len(netflix_titles)

6172

In [52]:
imdb_mean_r = imdb_filtered['Rating'].mean()
print(imdb_mean_r)

6.723200000000003

In [53]:
merge_mean_r = merge_table['Rating'].mean()
print(merge_mean_r)

6.748407643312102

In [54]:
imdb_mean_m = imdb_filtered['Metascore'].mean()
print(imdb_mean_m)

58.98504273504273

In [55]:
merge_mean_m = merge_table['Metascore'].mean()
print(merge_mean_m)

60.45205479452055

In [56]:
imdb_filtered.to_csv(r'imdb.csv',index = None, header=True)
netflix_new.to_csv(r'netflix.csv',index = None, header=True)
merge_table.to_csv(r'merge.csv',index = None, header=True)